
{% extends 'base.html' %}
	
{% block breadcrumbs %}{% endblock %}

{% block content %}	
<div id="home-container">

<p class="lead">
	<img src="static/images/logo-large.png">

</p>
<p class="lead">lil'better</p>
<p class="lead">Have others help make things a lil' better by giving you suggestions.<br> Create a suggestion box  anonymously, semi-anonymously or with verified accounts</p>


<p class="lead">
	<a href="getting-started/" class="btn btn-outline-inverse btn-lg">
	<button class="btn btn-primary btn-lg" >Get Started</button>
	</a>
</p>
</div>

{% endblock %}